* {
  font-family: "Roboto" sans-serif;
}
.header {
  position: relative;
}

nav {
  height: 50.73px;
  background-color: #212121;
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px 70px;
  margin: 0;
}
.menu__item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu__item:last-child {
  border-right: 0px;
}
.menu__link {
  font-style: Light;
  font-size: 15px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}
.subheader {
  width: 100%;
  position: absolute;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader__logo {
  margin-top: 16px;
}
.subheader__offical {
  margin-top: 9px;
  color: #ffffff;
  font-weight: 100;
  font-size: 13px;
}
.subheader__call {
  margin-top: 16px;
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}
.subheader__phone {
  display: block;
  font-weight: 400;
  text-align: right;
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
}
.subheader__btn {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.promo {
  padding-top: 155px;
  padding-bottom: 60px;
  min-height: 750px;
  background: url("/img/uber_bg.png") center center/cover no-repeat;
}
.promo__title {
  text-align: center;

  font-weight: 900;
  font-size: 60px;
  color: #ffffff;
}
.promo__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}
.promo__descr {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.promo__btn {
  margin: 150px auto;
  font-weight: 400;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  width: 259px;
  border: none;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
.info {
  padding: 90px 0 65px 0;
}
.label {
  margin: 0 auto;
  width: 115px;
  height: 27px;
  padding: 5px 13px;
  background: #000000;

  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;

  color: #ffffff;
}
.title {
  margin: 30px 0 16px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 38px;
}
.info__block {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__round {
  margin-right: 20px;
  display: flex;
  width: 113px;
  height: 113px;
  background: #1eacc7;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.info__text {
  width: 370px;
}
.mobile {
  min-height: 864px;
  padding: 48px 0px 77px 0;
  background: url("/img/mobile_bg.png") center center/cover no-repeat;
}
.subtitle {
  text-align: center;
}
.mobile__item {
  position: relative;
  padding-top: 82px;
  width: 320px;
  height: 280px;
  margin: 20px auto;
}
.mobile__item_1 {
  background: url("/img/card1.png") center center/cover no-repeat;
}
.mobile__item_2 {
  background: url("/img/card2.png") center center/cover no-repeat;
}
.mobile__item_3 {
  background: url("/img/card3.png") center center/cover no-repeat;
}
.mobile__item_4 {
  background: url("/img/card4.png") center center/cover no-repeat;
}
.mobile__item_5 {
  background: url("/img/card5.png") center center/cover no-repeat;
}
.mobile__item_6 {
  background: url("/img/card6.png") center center/cover no-repeat;
}

.mobile__item__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
}
.mobile__item__plus {
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background-color: black;
  text-align: center;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}
